# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pywz
*.pyc
*.pyo
*.pyd
*.pyz
*.pywz
*.egg-info/
dist/
build/
*.egg
*.egg-info
*.pyc
*.pyo
*.pyd
*.pyz
*.pywz
*.egg-info/
*.egg/
*.egg-info
*.egg-info/
*.egg-info/*
*.so
*.dylib
*.dll
*.pyc
*.pyo
*.pyd
*.pyz
*.pywz
*.egg-info/
*.egg/
*.egg-info
*.egg-info/*
*.so
*.dylib
*.dll

# Jupyter Notebook
.ipynb_checkpoints/
*.nbconvert.ipynb
*.nbformat.ipynb
*.ipynb_checkpoints


# aml 
.ipynb_aml_checkpoints
**/.ipynb_aml_checkpoints
**/.amlignore
**/.amlignore.amltmp
.amlignore
.amlignore.amltmp

# bicep
**/params.json

# Environments
**/.env
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


# evaluation output files
evaluation_samples/**/output/*
!evaluation_samples/**/output/.gitkeep